{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <h1 class="mt-4">{{title}}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{title}} {{date}}</li>
        </ol>
    </div>
    <table class="table">
  <thead>
    <tr>
        <th>ID</th>
        <th>prefix</th>
        <th>st_id</th>
        <th>fname</th>
        <th>lname</th>
        <th>Major</th>
    </tr>
  </thead>
  <tbody>
    {% for s in students %}
    <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.prefix }}</td>
        <td>{{ s.st_id }}</td>
        <td>{{ s.fname }}</td>
        <td>{{ s.lname }}</td>
        <td>{{ s.mj_id.mj_name }}</td>
        <td> Major id: {{ s.mj_id.id }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6" class="text-center text-muted">No student records found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}